*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
    padding:0;
}

body{
    background-color: rgb(56, 55, 55);
    padding-left: 242px;
}

/* Світла тема */
body.light {
    background-color: rgb(194, 194, 194);
    color: black;
}

/* Темна тема */
body.dark {
    background-color: rgb(56, 55, 55);
}


